/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Lato&family=Open+Sans:wght@400;800&family=Prosto+One&family=Rubik&family=Ubuntu:wght@700&display=swap');

/* Colors */
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}

/* Header Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 0 170px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;

}
.btn-primary{
    height: 50px;
    padding: 15px 35px;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
}


.title{
    font-weight: 800;
    font-size: 45px;
}
/* Main Containt Backgruond */

.main-body{
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-left: 50px;
    margin-right: 50px;
}
/* Main Contant */
.bannar{
    display: flex;
    align-items: center;
    margin: 0px 100px 0 170px;


}
.athor-name{
    font-weight: 700;
    font-size: 45px;
}
.body-info h3{
    font-weight: 500;
    font-size: 30px;
    color: #181818;
    margin-bottom: 10px;

}
.bannar-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: #181818;
    margin-bottom: 10px;
}
.bannar-discription{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;

}

/* about section design */
main{
    max-width: 1140px;
    margin: 0 auto;

}
.about-section{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    color: #181818;

}
.section-description{
    font-size: 20px;
    padding: 30px 0;
    color: #757575;
}

/* about-info */
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.info-title{
    font-weight: 400;
    font-size: 20px;

}
.info-description{
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}